.u-section-1 .u-sheet-1 {
  min-height: 1233px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  font-family: Play;
  font-weight: 700;
  margin: 31px 724px 0 257px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-family: Play;
  font-weight: 700;
  margin: -64px 464px 0 532px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-family: Play;
  font-weight: 700;
  margin: -64px 218px 0 781px;
}

.u-section-1 .u-image-1 {
  width: 282px;
  height: 282px;
  margin: 52px auto 0 196px;
}

.u-section-1 .u-image-2 {
  width: 200px;
  height: 200px;
  margin: -282px auto 0 498px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  background-image: none;
  margin: -62px auto 0 738px;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  font-family: Play;
  font-size: 1.25rem;
  margin: -183px 191px 0 739px;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  font-family: Play;
  font-size: 1.25rem;
  margin: 124px 193px 0 737px;
}

.u-section-1 .u-image-3 {
  width: 200px;
  height: 200px;
  margin: -96px auto 0 498px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  background-image: none;
  margin: -45px auto 0 738px;
}

.u-section-1 .u-image-4 {
  width: 200px;
  height: 200px;
  margin: 21px auto 0 498px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
  background-image: none;
  margin: -45px auto 0 738px;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  font-family: Play;
  font-size: 1.25rem;
  margin: -199px 192px 0 738px;
}

.u-section-1 .u-image-5 {
  width: 200px;
  height: 200px;
  margin: 124px auto 0 498px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
  background-image: none;
  margin: -45px auto 0 738px;
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  font-family: Play;
  font-size: 1.25rem;
  margin: -200px 192px 0 738px;
}

.u-section-1 .u-text-8 {
  font-weight: 400;
  font-family: Play;
  font-size: 1.25rem;
  margin: 135px 192px 0 738px;
}

.u-section-1 .u-image-6 {
  width: 200px;
  height: 200px;
  margin: -105px auto 0 498px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
  background-image: none;
  margin: -45px auto 34px 737px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1421px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 29px;
    margin-right: 622px;
    margin-left: 159px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 349px;
    margin-left: 447px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 121px;
    margin-left: 689px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 84px;
    margin-left: 98px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 419px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 636px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 94px;
    margin-left: 636px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: 94px;
    margin-left: 636px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 419px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 636px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 419px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 636px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -200px;
    margin-right: 94px;
    margin-left: 636px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 125px;
    margin-left: 419px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 636px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-right: 94px;
    margin-left: 636px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-right: 94px;
    margin-left: 636px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 419px;
  }

  .u-section-1 .u-btn-5 {
    margin-bottom: 0;
    margin-left: 636px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1276px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 19px;
    margin-right: 527px;
    margin-left: 35px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 239px;
    margin-left: 329px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 29px;
    margin-left: 556px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 42px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    margin-left: 305px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -45px;
    margin-left: 513px;
  }

  .u-section-1 .u-text-4 {
    margin-right: -16px;
    margin-left: 526px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 109px;
    margin-right: -2px;
    margin-left: 512px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 307px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: -2px;
    margin-left: auto;
  }

  .u-section-1 .u-image-4 {
    margin-left: 307px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: -2px;
    margin-left: auto;
  }

  .u-section-1 .u-text-6 {
    margin-right: -9px;
    margin-left: 520px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 309px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: -3px;
    margin-left: auto;
  }

  .u-section-1 .u-text-7 {
    margin-right: -7px;
    margin-left: 517px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 123px;
    margin-right: -8px;
    margin-left: 519px;
  }

  .u-section-1 .u-image-6 {
    margin-top: -96px;
    margin-left: 305px;
  }

  .u-section-1 .u-btn-5 {
    margin-bottom: 60px;
    margin-left: 513px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 972px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 381px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: 159px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    margin-right: 17px;
    margin-left: 364px;
  }

  .u-section-1 .u-image-1 {
    width: 160px;
    height: 160px;
  }

  .u-section-1 .u-image-2 {
    width: 126px;
    height: 126px;
    margin-top: -160px;
    margin-left: 207px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -30px;
    margin-left: 333px;
    padding: 10px 23px 10px 22px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -151px;
    margin-right: 0;
    margin-left: 350px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 93px;
    margin-right: 0;
    margin-left: 350px;
  }

  .u-section-1 .u-image-3 {
    width: 125px;
    height: 125px;
    margin-top: -93px;
    margin-left: 208px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -30px;
    margin-right: 0;
    padding: 10px 23px 10px 22px;
  }

  .u-section-1 .u-image-4 {
    width: 125px;
    height: 125px;
    margin-top: 33px;
    margin-left: 208px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -36px;
    margin-right: 0;
    padding: 10px 23px 10px 21px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -144px;
    margin-right: 0;
    margin-left: 350px;
  }

  .u-section-1 .u-image-5 {
    width: 125px;
    height: 125px;
    margin-top: 73px;
    margin-left: 208px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -37px;
    margin-right: -1px;
    padding: 10px 22px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -139px;
    margin-right: -3px;
    margin-left: 353px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 57px;
    margin-right: 0;
    margin-left: 350px;
  }

  .u-section-1 .u-image-6 {
    width: 125px;
    height: 125px;
    margin-top: -80px;
    margin-left: 208px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -31px;
    margin-right: 0;
    margin-left: auto;
    padding: 10px 24px 10px 22px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 661px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-top: 5px;
    margin-right: 227px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-top: -50px;
    margin-right: 108px;
    margin-left: 121px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    margin-top: -46px;
    margin-right: 0;
    margin-left: 233px;
  }

  .u-section-1 .u-image-1 {
    width: 91px;
    height: 91px;
    margin-top: 35px;
    margin-left: 11px;
  }

  .u-section-1 .u-image-2 {
    width: 70px;
    height: 70px;
    margin-top: -91px;
    margin-left: 135px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.625rem;
    font-family: Play;
    margin-top: 18px;
    margin-left: 133px;
    padding: 2px 3px;
  }

  .u-section-1 .u-text-4 {
    font-size: 0.875rem;
    margin-top: -108px;
    margin-right: 8px;
    margin-left: 241px;
  }

  .u-section-1 .u-text-5 {
    font-size: 0.875rem;
    margin-top: 27px;
    margin-right: 9px;
    margin-left: 240px;
  }

  .u-section-1 .u-image-3 {
    width: 70px;
    height: 70px;
    margin-top: -88px;
    margin-left: 135px;
  }

  .u-section-1 .u-btn-2 {
    font-family: Play;
    font-size: 0.625rem;
    margin-top: 21px;
    padding: 2px 3px;
  }

  .u-section-1 .u-image-4 {
    width: 70px;
    height: 70px;
    margin-top: 4px;
    margin-left: 135px;
  }

  .u-section-1 .u-btn-3 {
    font-size: 0.625rem;
    margin-top: 18px;
    padding: 2px 3px 2px 2px;
  }

  .u-section-1 .u-text-6 {
    font-size: 0.875rem;
    margin-top: -108px;
    margin-right: 9px;
    margin-left: 240px;
  }

  .u-section-1 .u-image-5 {
    width: 70px;
    height: 70px;
    margin-top: 31px;
    margin-left: 135px;
  }

  .u-section-1 .u-btn-4 {
    font-size: 0.625rem;
    margin-top: 15px;
    margin-right: 0;
    padding: 2px;
  }

  .u-section-1 .u-text-7 {
    font-size: 0.875rem;
    margin-top: -105px;
    margin-right: 9px;
    margin-left: 240px;
  }

  .u-section-1 .u-text-8 {
    font-size: 0.875rem;
    margin-top: 22px;
    margin-right: 8px;
    margin-left: 241px;
  }

  .u-section-1 .u-image-6 {
    width: 70px;
    height: 70px;
    margin-top: -88px;
    margin-left: 135px;
  }

  .u-section-1 .u-btn-5 {
    font-size: 0.625rem;
    margin-top: 17px;
    margin-bottom: 26px;
    padding: 2px 3px 2px 2px;
  }
}