.u-section-1 .u-sheet-1 {
  min-height: 710px;
}

.u-section-1 .u-text-1 {
  font-family: Play;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 19px 835px 0 0;
}

.u-section-1 .u-gallery-1 {
  margin-top: 19px;
  margin-bottom: 0;
  height: 323px;
  margin-left: 0;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
}

.u-section-1 .u-gallery-item-1 {
  margin-right: 13px;
}

.u-section-1 .u-back-image-1 {
  width: 347px;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-2 {
  margin-right: 13px;
}

.u-section-1 .u-back-image-2 {
  width: 347px;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-3 {
  margin-right: 13px;
}

.u-section-1 .u-back-image-3 {
  width: 347px;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-4 {
  margin-right: 13px;
}

.u-section-1 .u-back-image-4 {
  width: 347px;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-5 {
  margin-right: 13px;
}

.u-section-1 .u-back-image-5 {
  width: 347px;
}

.u-section-1 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-6 {
  margin-right: 13px;
}

.u-section-1 .u-back-image-6 {
  width: 347px;
}

.u-section-1 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 1.5rem;
  font-family: Play;
  margin: 30px auto 0;
  padding: 18px 76px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 653px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 635px;
  }

  .u-section-1 .u-gallery-1 {
    height: 266px;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 591px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 415px;
  }

  .u-section-1 .u-gallery-1 {
    height: 204px;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 235px;
  }

  .u-section-1 .u-gallery-1 {
    height: 153px;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 329px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
    margin-right: 133px;
  }

  .u-section-1 .u-gallery-1 {
    height: 160px;
    margin-left: initial;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.125rem;
    margin-top: 19px;
    margin-bottom: 38px;
    padding: 11px 20px 11px 19px;
  }
}