.u-section-1 .u-sheet-1 {
  min-height: 710px;
}

.u-section-1 .u-image-1 {
  width: 891px;
  height: 485px;
  margin: 38px auto 0;
}

.u-section-1 .u-list-1 {
  min-height: 162px;
  grid-template-rows: auto;
  height: auto;
  margin-top: 0;
  margin-bottom: 25px;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(25% - 7.5px);
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  grid-gap: 10px 10px;
  grid-auto-rows: 100%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-family: Play;
  font-size: 3rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-family: Play;
  margin: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  font-family: Play;
  font-size: 3rem;
  margin: 0;
}

.u-section-1 .u-text-4 {
  font-family: Play;
  margin: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  font-family: Play;
  font-size: 3rem;
  margin: 0;
}

.u-section-1 .u-text-6 {
  font-family: Play;
  margin: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-7 {
  font-family: Play;
  font-size: 3rem;
  margin: 0;
}

.u-section-1 .u-text-8 {
  font-family: Play;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 433px;
  }

  .u-section-1 .u-image-1 {
    margin-bottom: 10px;
  }

  .u-section-1 .u-list-1 {
    min-height: 134px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 7.5px));
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 664px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 392px;
    margin-bottom: 0;
  }

  .u-section-1 .u-list-1 {
    min-height: 224px;
    margin-top: 10px;
    margin-bottom: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    grid-auto-rows: calc(50% - 5px);
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -30px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -30px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: -30px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: -30px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 294px;
  }

  .u-section-1 .u-list-1 {
    min-height: 458px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
    grid-auto-rows: calc(25% - 7.5px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 601px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 185px;
  }

  .u-section-1 .u-list-1 {
    min-height: 330px;
    margin-top: 38px;
    margin-bottom: 10px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-text-1 {
    margin-top: -62px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -62px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -62px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -62px;
  }
}